<div class="AddAppliance-container">
    <h2>Adicionar Eletrodoméstico</h2>
    <img src="./assets/image.png" alt="" width="350"
    height="250"/>
    <form (ngSubmit)="addAppliance()">
    <div>
        <label for="name">Nome do Eletrodoméstico:</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" required />
    </div>
    <div>
        <label for="power">Potência (W):</label>
        <input type="number" id="power" [(ngModel)]="power" name="power" required />
    </div>
    <div>
        <label for="hours_per_day">Horas de uso por dia:</label>
        <input type="number" id="hours_per_day" [(ngModel)]="hours_per_day" name="hours_per_day" required />
    </div>
    <div>
        <label for="days_per_month">Dias de uso por mês:</label>
        <input type="number" id="days_per_month" [(ngModel)]="days_per_month" name="days_per_month" required />
    </div>
    <button type="submit">Adicionar Eletrodoméstico</button>
    </form>
    <button routerLink="/home">Voltar para Home</button>
    
</div>


    <div class="table-container">
        <h2>TABELA DE POTÊNCIA MÉDIA DOS APARELHOS (Watts)</h2>
        <table>
          <thead>
            <tr>
              <th>Aparelho</th>
              <th>Potência (WATTS)</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Ar-condicionado</td><td>1000W</td></tr>
            <tr><td>Aparelho de som</td><td>40W</td></tr>
            <tr><td>Aparelho de DVD</td><td>50W</td></tr>
            <tr><td>Aspirador</td><td>1000W</td></tr>
            <tr><td>Batedeira</td><td>200W</td></tr>
            <tr><td>Barbeador</td><td>10W</td></tr>
            <tr><td>Cafeteira</td><td>1000W</td></tr>
            <tr><td>Carregador de celular</td><td>1.5W</td></tr>
            <tr><td>Chuveiro</td><td>3500W</td></tr>
            <tr><td>Computador</td><td>300W</td></tr>
            <tr><td>Exaustor</td><td>150W</td></tr>
            <tr><td>Ferro de passar roupa</td><td>1000W</td></tr>
            <tr><td>Freezer</td><td>130W</td></tr>
            <tr><td>Geladeira</td><td>130W</td></tr>
            <tr><td>Grill</td><td>900W</td></tr>
            <tr><td>Lâmpada fluorescente</td><td>9W</td></tr>
            <tr><td>Lâmpada incandescente</td><td>40W</td></tr>
            <tr><td>Liquidificador</td><td>300W</td></tr>
            <tr><td>Máquina de lavar</td><td>350W</td></tr>
            <tr><td>Microondas</td><td>1200W</td></tr>
            <tr><td>Sanduicheira</td><td>750W</td></tr>
            <tr><td>Secador de cabelo</td><td>1400W</td></tr>
            <tr><td>Televisor</td><td>100W</td></tr>
            <tr><td>Telefone sem fio</td><td>100W</td></tr>
            <tr><td>Torradeira</td><td>800W</td></tr>
            <tr><td>Ventilador</td><td>120W</td></tr>
            <tr><td>Videogame</td><td>15W</td></tr>
          </tbody>
        </table>
      </div>
      